@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Mochiy+Pop+One&family=Permanent+Marker&family=Roboto:ital,wght@1,100&display=swap');
/* import fonts: 'Cinzel' , 'Mochiy Pop One', 'Permanent Marker', 'Roboto' */
body{
  background-color:rgb(166, 188, 206);
}
/* Main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 300px;
  min-width: 100px; /*20vw*/
  height: 840px; /* 100vh*/
  width:380px;
  margin: 0 auto;
  padding: 20px 20px 20px;
}

#container{
  background-color: black;
  border: 10px solid rgba(47,47,47,1);
  border-radius: 4px;
  height: 50.5vh;
  width: 20.5vw;
  
}

.screen {
  display: grid;
  justify-items: end;
  height: 8vh;
  padding: 15px;
  background-color:rgb(114, 172, 180);
  color: rgb(0, 0, 0);
  margin: 4px;
  text-shadow: 1.3px 1.3px #383838;
  overflow: hidden;
}

#history {
  font-size: 1.3rem;
  font-family: monospace;
  align-self: start;
  overflow: hidden;
  white-space: nowrap;
}
  
#display {
  font-size: 3rem;
  font-family: monospace;
  align-self: end;
  overflow: hidden;
  
}

.buttons-grid {
  height: 38vh;
  display: grid;
  margin: 2px;
  gap: 2px;
  grid-template-columns: 1fr 1fr;
  grid-template:
    'clear sign percent divide'
    'seven eigth nine multiply'
    'four five six minus'
    'one two three plus'
    'zero decimal equals plus';
}

button {
  margin: 1px;
  border-radius: 5%;
  border:none;
  font-weight: initial;
  font-size: 1.25rem;
  font-family: monospace;
  color: black;

}

.button.number{
  font-size: 2rem;
  background-color: #028090;
  
}

.button.number:hover{
  background-color: #096975;
}

.button.sign{
  font-size: 1rem;
  font-weight:bold;
}

/* Buttons positions */
#number-0 {
  grid-area: zero;
  
}
#number-1 {
  grid-area: one;
}
#number-2 {
  grid-area: two;
}
#number-3 {
  grid-area: three;
}
#number-4 {
  grid-area: four;
}
#number-5 {
  grid-area: five;
}
#number-6 {
  grid-area: six;
}
#number-7 {
  grid-area: seven;
}
#number-8 {
  grid-area: eigth;
}
#number-9 {
  grid-area: nine;
}
#decimal {
  grid-area: decimal;
  background-color:#028090;
}
#decimal:hover {
  background-color: #771ca5;
}
#equals {
  grid-area: equals;
  background-color: #028090;
}
#equals:hover {
  background-color: #771ca5;
}
#plus {
  grid-area: plus;
  background-color: darkorchid;
}
#plus:hover {
  background-color: #771ca5;
}
#minus {
  grid-area: minus;
  background-color: darkorchid;
}
#minus:hover {
  background-color: #771ca5;
}
#multiply {
  grid-area: multiply;
  background-color: darkorchid;
}
#multiply:hover {
  background-color: #771ca5;
}
#divide {
  grid-area: divide;
  background-color: darkorchid;
}
#divide:hover {
  background-color: #771ca5;
}
#sign {
  grid-area: sign;
  background-color: dodgerblue;
}
#sign:hover{
  background-color: rgb(10, 47, 83);
  }
#percent {
  grid-area: percent;
  background-color: dodgerblue;
}
#percent:hover{
  background-color: rgb(10, 47, 83);
  }
#clear {
  grid-area: clear;
  background-color: dodgerblue;
}
#clear:hover{
background-color: rgb(10, 47, 83);
}
.button.operator:hover {
  background-color: #771ca5;
}

 /* FOOTER */
 a {
  text-decoration:none;
  color: inherit
}

.footer {
  font-family: 'Mochiy Pop One';
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 16px;
}

.xn-github {
  color: black;
  font-size: 10px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: -4px;
}

.xn-github:hover {
  transform: rotate(360deg) scale(1.2);
}
/*large screen  */

/* @media (max-width: 1400px) {
  html {
    font-size: 32px;
  }
} */

/* Tablet screen  */

/* @media (max-width: 768px) {
  html {
    font-size: 18px;
  }
} */

/* Mobile screen  */

/* @media (max-width: 450px) {
  html {
    font-size: 12px;
  }
} */